<div class="question">
<head>
        <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.css" media="screen">    
        <link rel="stylesheet" type="text/css" href="../../styles.css">
    <div class="museum">    
        <img src="../../assets/images/museum.png">
    </div>
</head>
<body>
<div class="questDiv">
    <br>
    <div>Name:  Player {{playerNum}}</div>
    <br>
    <div>
        Question {{questionNum}}: {{question}}
    </div>
    <br>
    <div>
        <button type="button" class="btn btn-secondary" (click)="saveAnswer()">1. {{answer}}</button>
    </div>
    <br>
    <div>
        <button type="button" class="btn btn-secondary" (click)="saveAnswer()">2. {{answer}}</button>
    </div>
    <br>
    <div>
        <button type="button" class="btn btn-secondary" (click)="saveAnswer()">3. {{answer}}</button>
    </div>
    <br>
    <div>
        <button type="button" class="btn btn-secondary" (click)="saveAnswer()">4. {{answer}}</button>
    </div>
</div>        
        
</body>
</div>