
<head>
        <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.css" media="screen">    
        <link rel="stylesheet" type="text/css" href="../../styles.css">
    <div class="museum">    
        <img src="../../assets/images/museum.png">
    </div>
</head>
<body>
    <div>
        <h1>Economy Trivia Game</h1>
    </div>
    <div class="play">
            <button type="button" class="btn btn-primary"><h2>Click HERE to learn something new today!</h2></button>
    </div>
        
</body>
